<div class="message-container">
  <div class="message">
    <dx-text-box
      [placeholder]="'Poruka..'"
      [(value)]="message"
      [width]="'600px'"
      (onEnterKey)="submit()"
    >
    </dx-text-box>
  </div>
  <dx-button
    [elementAttr]="{ class: 'iconBtn' }"
    icon="greater"
    type="success"
    text=""
    (onClick)="submit()"
  >
  </dx-button>
  <dx-button
    [elementAttr]="{ class: 'iconBtn' }"
    icon="image"
    type="success"
    stylingMode="outlined"
    text=""
    (onClick)="fileInput.click()"
  >
  </dx-button>
  <input
    #fileInput
    id="file"
    hidden
    type="file"
    (change)="onFileSelected($event)"
  />
</div>

<div class="display-container" [style.height.px]="height">
  <div *ngFor="let m of messages">
    <div>
      <span class="btn-user">
        {{ m.user }}
      </span>
      <span class="date">{{ m.dateString }}</span>
    </div>

    <div *ngIf="m.message" class="display-message">{{ m.message }}</div>
    <img
      *ngIf="m.image"
      class="display-message image"
      [src]="m.image"
      height="200"
      width="400"
    />
  </div>
</div>
