<div class="config-container">
  <div *ngIf="loading" class="load-container">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <div *ngIf="!loading">
    <dx-tree-list
      id="settings"
      [dataSource]="settings"
      [rootValue]="null"
      itemsExpr="items"
      [keyExpr]="getKey"
      [showRowLines]="true"
      [showBorders]="true"
      parentIdExpr="parent"
      [columnAutoWidth]="true"
      [noDataText]="''"
      [height]="treeHeight"
      [showColumnLines]="false"
      [width]="'90%'"
      (onToolbarPreparing)="onToolbarPreparing($event)"
    >
      <dxo-row-dragging
        [allowReordering]="true"
        [onReorder]="onReorder"
        [showDragIcons]="true"
      >
      </dxo-row-dragging>
      <dxi-column
        caption="Naziv"
        dataField="name"
        headerCellTemplate="headerTemplate"
      >
      </dxi-column>
      <dxi-column alignment="right" caption="" cellTemplate="editCellTemplate">
      </dxi-column>
      <div *dxTemplate="let info of 'headerTemplate'">
        <span class="treelist-header">{{ info.column.caption }}</span>
      </div>
      <div *dxTemplate="let data of 'editCellTemplate'">
        <dx-button class="btn-margin" icon="edit" (click)="onEdit(data.data)">
        </dx-button>
        <dx-button icon="remove" (click)="onDelete(data.data)"></dx-button>
      </div>
    </dx-tree-list>
    <div>
      <button
        class="save-btn"
        mat-raised-button
        color="primary"
        (click)="save()"
      >
        Pohrana
      </button>
    </div>
    <ng-container>
      <div class="load-container">
        <mat-spinner *ngIf="saving" [diameter]="30"> </mat-spinner>
      </div>
    </ng-container>
  </div>
</div>

<dx-popup
  [width]="300"
  [height]="280"
  [showTitle]="true"
  [title]="title"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  [(visible)]="popupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="addButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <dx-form id="form" [(formData)]="newItem" [showColonAfterLabel]="true">
      <dxi-item dataField="Naziv">
        <dxi-validation-rule type="required" message="Naziv je obvezan">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="Grupa"
        editorType="dxSelectBox"
        [editorOptions]="{
          displayExpr: 'name',
          items: settings,
          noDataText: 'Nije pronađeno',
          placeholder: '',
          searchEnabled: true,
          valueExpr: 'id'
        }"
      >
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>

<dx-popup
  [width]="300"
  [height]="280"
  [showTitle]="true"
  [title]="title"
  [dragEnabled]="false"
  [closeOnOutsideClick]="false"
  [showCloseButton]="false"
  [(visible)]="editPopupVisible"
>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="before"
    [options]="editButtonOptions"
  >
  </dxi-toolbar-item>
  <dxi-toolbar-item
    widget="dxButton"
    toolbar="bottom"
    location="after"
    [options]="closeButtonOptions"
  >
  </dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <dx-form id="form" [(formData)]="editItem" [showColonAfterLabel]="true">
      <dxi-item dataField="Naziv">
        <dxi-validation-rule type="required" message="Naziv je obvezan">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        dataField="Grupa"
        editorType="dxSelectBox"
        [editorOptions]="{
          displayExpr: 'name',
          items: editSettings,
          noDataText: 'Nije pronađeno',
          placeholder: '',
          searchEnabled: true,
          valueExpr: 'id'
        }"
      >
      </dxi-item>
    </dx-form>
  </div>
</dx-popup>
