<div class="config-container">
  <div *ngIf="isLoadIndicatorVisible" class="load-container">
    <mat-spinner [diameter]="30"> </mat-spinner>
  </div>
  <div *ngIf="!isLoadIndicatorVisible">
    <dx-tree-list
      id="settings"
      [dataSource]="settings"
      [rootValue]="null"
      itemsExpr="items"
      [keyExpr]="getKey"
      [showRowLines]="true"
      [showBorders]="false"
      parentIdExpr="parent"
      [columnAutoWidth]="true"
      [noDataText]="''"
      [width]="'95%'"
    >
      <dxo-row-dragging
        [onReorder]="onReorder"
        [allowReordering]="true"
        [showDragIcons]="true"
      >
      </dxo-row-dragging>
      <dxi-column
        dataField="name"
        caption="Naziv"
        headerCellTemplate="headerTemplate"
      >
      </dxi-column>
      <div *dxTemplate="let info of 'headerTemplate'">
        <span class="treelist-header">{{ info.column.caption }}</span>
      </div>
    </dx-tree-list>
    <div class="row">
      <div class="col">
        <button
          class="save-btn"
          mat-raised-button
          color="primary"
          (click)="save()"
        >
          Spremi
        </button>
      </div>
    </div>
    <ng-container>
      <div class="load-container">
        <mat-spinner *ngIf="saving" [diameter]="30"> </mat-spinner>
      </div>
    </ng-container>
  </div>
</div>
