@media only screen and (max-width: 350px) {
  dx-data-grid {
    margin: auto;
    width: 95%;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  dx-data-grid {
    margin: auto;
    width: 95%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  dx-data-grid {
    margin: auto;
    width: 80%;
  }
}

dx-data-grid {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
}

.header {
  color: #9f9f9f;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 500;
}

.group-header {
  color: rgba(0, 0, 0, 0.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 12px;
}

.home-container {
  margin-top: 30px;
  margin-bottom: 20px;
}

.load-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-margin {
  margin-right: 2px;
}

.label {
  font-weight: 700;
  margin-bottom: 5px;
}

.dx-datagrid-rowsview
  .dx-master-detail-row:not(.dx-datagrid-edit-form)
  .dx-master-detail-cell {
  background-color: white;
}

.dx-datagrid-rowsview
  .dx-master-detail-row:not(.dx-datagrid-edit-form)
  .dx-master-detail-cell {
  border-top: none;
}
