<div class="home-container">
  <div *ngIf="loading" class="load-container">
    <mat-spinner [diameter]="30"> </mat-spinner>
  </div>
  <div *ngIf="!loading">
    <dx-data-grid
      id="exercises"
      [dataSource]="exercises"
      [showBorders]="false"
      [showRowLines]="false"
      [wordWrapEnabled]="true"
    >
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxi-column dataField="name" caption="Naziv vježbe" dataType="string">
      </dxi-column>
      <dxi-column
        dataField="muscle"
        caption="Mišić"
        dataType="string"
        [groupIndex]="0"
        groupCellTemplate="groupCellTemplate"
      >
      </dxi-column>
      <div *dxTemplate="let data of 'groupCellTemplate'" class="group-header">
        {{ data.displayValue }}
      </div>
    </dx-data-grid>
  </div>
</div>
