<div class="home-container">
  <div *ngIf="loading" class="load-container">
    <mat-spinner [diameter]="30"> </mat-spinner>
  </div>
  <div *ngIf="!loading">
    <dx-data-grid
      id="exercises"
      [dataSource]="exercises"
      [showBorders]="false"
      [showColumnLines]="false"
      [showRowLines]="false"
      [wordWrapEnabled]="true"
    >
      <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
      <dxi-column
        dataField="name"
        caption="Naziv vježbe"
        dataType="string"
        headerCellTemplate="headerCellTemplate"
      >
      </dxi-column>
      <dxi-column
        caption="Mišić"
        dataField="muscle"
        dataType="string"
        groupCellTemplate="groupCellTemplate"
        [groupIndex]="0"
      >
      </dxi-column>
      <dxi-column alignment="right" caption="" cellTemplate="editCellTemplate">
      </dxi-column>
      <div *dxTemplate="let data of 'headerCellTemplate'" class="header">
        {{ data.column.caption }}
      </div>
      <div *dxTemplate="let data of 'groupCellTemplate'" class="group-header">
        {{ data.displayValue }}
      </div>
      <div *dxTemplate="let data of 'editCellTemplate'">
        <dx-button icon="edit" class="btn-margin"></dx-button>
        <dx-button icon="remove"></dx-button>
      </div>
    </dx-data-grid>
  </div>
</div>
