/* Extra small devices (phones, 300px and down) */
@media only screen and (max-width: 350px) {
  .sign-in-container {
    justify-content: center;
  }

  .form-container {
    flex-grow: 1;
    padding: 10px 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .input {
    font-size: 12px;
    padding: 8px 10px 6px;

    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      font-size: 12px;
    }
  }

  .submit-container {
    margin-top: 50px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  .sign-in-container {
    justify-content: center;
  }

  .form-container {
    margin-top: 10px;
    width: 220px;
    padding: 5px 20px;
    height: 320px;
  }

  .form-group {
    display: block;
    margin-top: 10px;
  }

  .submit-container {
    margin-top: 50px;
  }

  .input {
    padding: 12px 20px 8px;
    width: 180px;
    font-size: 12px;

    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      font-size: 12px;
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .sign-in-container {
    justify-content: left;
  }

  .form-container {
    margin-left: 20%;
    width: 240px;
  }

  .input {
    font-size: 14px;
    width: 200px;

    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      font-size: 14px;
    }
  }

  .submit-container {
    margin-top: auto;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .form-container {
    margin-top: 5%;
    width: 280px;
  }

  .input {
    width: 240px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
}

:host {
  display: flex;
}

.sign-in-container {
  padding: 5px;
  flex-grow: 1;
  display: flex;
}

.container {
  background-color: #f0f2f5;
}

.form-container {
  background-color: #fff0a4;
  border: 1px solid lightgray;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.form-group {
  label {
    cursor: text;
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    transition: all 0.4s;
  }

  .input {
    background: #e8fce8;
    border: none;
    border-bottom: 1px solid #eee;
    border-radius: 5px;
    color: #444;
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
      "Segoe UI Symbol";
    outline: none;
    z-index: 1;

    &:-webkit-autofill::first-line,
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
      box-shadow: 0 0 0 30px #e8fce8 inset !important;
      -webkit-box-shadow: 0 0 0 30px #e8fce8 inset !important;
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    }
  }
}

.submit-container {
  bottom: 0;
  display: flex;
  justify-content: flex-end;
}

.load-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.submit {
  background: #f95959;
  border: none;
  border-radius: 30px;
  color: #fff;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  padding: 5px 30px;
  text-transform: uppercase;
}
