.user-container {
  margin-left: 100px;
  width: 600px;
}

.confirm-button {
  margin-top: 40px;
  text-align: end;
}

.file-title {
  margin-left: 20px;
}

.load-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
