<div class="user-container">
  <form>
    <dx-form id="form" [formData]="user" validationGroup="userData">
      <dxi-item
        [cssClass]="'message-item'"
        dataField="name"
        [disabled]="saving"
        editorType="dxTextBox"
        [editorOptions]="{ onValueChanged: onNameChanged }"
        [label]="{ text: 'Korisnik', location: 'left' }"
      >
        <dxi-validation-rule type="required" message="Korisnik je obvezan">
        </dxi-validation-rule>
      </dxi-item>
      <dxi-item
        [cssClass]="'message-item'"
        dataField="email"
        [disabled]="saving"
        editorType="dxTextBox"
        [editorOptions]="{ onValueChanged: onEmailChanged }"
        [label]="{ text: 'Email adresa', location: 'left' }"
      >
        <dxi-validation-rule type="required" message="Email adresa je obvezna">
        </dxi-validation-rule>
        <dxi-validation-rule
          type="email"
          message="Neispravan format email adrese"
        >
        </dxi-validation-rule>
      </dxi-item>

      <dxi-item
        [cssClass]="'message-item'"
        dataField="password"
        [disabled]="saving"
        editorType="dxTextBox"
        [editorOptions]="{ onValueChanged: onPasswordChanged }"
        [label]="{ text: 'Lozinka', location: 'left' }"
      >
        <dxi-validation-rule type="required" message="Lozinka je obvezna">
        </dxi-validation-rule>
      </dxi-item>
    </dx-form>
  </form>

  <div class="confirm-button">
    <button
      [disabled]="!formValid"
      mat-raised-button
      color="primary"
      type="button"
      (click)="confirm()"
    >
      Pohrana
    </button>
  </div>
  <div *ngIf="saving" class="load-container">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
</div>
