<div class="message-container">
  <dx-form id="form" class="email-form" [formData]="message">
    <dxi-item
      [cssClass]="'message-item'"
      dataField="title"
      [label]="{ text: 'Naslov', location: 'left' }"
    >
    </dxi-item>
    <dxi-item
      [cssClass]="'message-item'"
      dataField="email"
      [label]="{ text: 'Odredišna adresa', location: 'left' }"
    >
    </dxi-item>
    <dxi-item
      [cssClass]="'message-item'"
      dataField="attachment"
      [label]="{ text: 'Privitak', location: 'left' }"
    >
      <dx-button
        icon="image"
        type="success"
        stylingMode="outlined"
        text=""
        (onClick)="fileInput.click()"
      >
      </dx-button>
      <span *ngIf="file" class="file-title">
        {{ file.name }}
      </span>
    </dxi-item>
    <dxi-item
      [cssClass]="'message-item'"
      dataField="text"
      editorType="dxTextArea"
      [editorOptions]="{ height: 180 }"
      [label]="{ text: 'Poruka', location: 'left' }"
    >
    </dxi-item>
  </dx-form>
  <button
    [disabled]="disabled"
    class="confirm-button"
    mat-raised-button
    color="primary"
    type="button"
    (click)="confirm()"
  >
    Slanje
  </button>
</div>

<input
  #fileInput
  id="file"
  hidden
  type="file"
  (change)="onFileSelected($event)"
/>
