.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  background-size: cover;
}

.background-image {
  background-image: url("../assets/image/photo_1.jpg");
}

.top {
  display: flex;
  height: 50px;
  padding-top: 10px;

  .btn-user {
    background-color: #7b1fa2;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: 50px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.page-container {
  display: flex;
  flex-grow: 1;
  padding-left: 60px;
  padding-top: 30px;
  padding-right: 60px;
  padding-bottom: 30px;
}

.sidebar {
  padding-left: 50px;
  width: 300px;
}

.menu-item {
  cursor: pointer;
  font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
  font-size: 0.875rem;
  padding: 10px;
  height: 24px;
  letter-spacing: 0.3px;
  text-shadow: none;
  display: flex;

  &.active {
    background-color: #fce8e6;
    color: #d93025;
    font-weight: 500;
  }

  &:not(.active):hover {
    background-color: #e8eaed;
  }
}

.menu-icon {
  display: flex;
  align-items: center;
  width: 30px;
}

.menu-text {
  display: flex;
  align-items: center;
}

.page-content {
  flex-grow: 1;
}

.test {}
