.container {
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.background-image {
  background-image: url("../assets/image/photo_1.jpg");
}

.top {
  display: flex;
  height: 50px;
  padding-top: 10px;

  .btn-user {
    background-color: #7b1fa2;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    margin-left: auto;
    margin-right: 50px;
    width: 30px;
    height: 30px;
    font-size: 14px;
    justify-content: center;
    display: flex;
    align-items: center;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
