@media only screen and (max-width: 350px) {
  form {
    margin-left: 10px;
    margin-right: 10px;
  }

  .add-container {
    margin-top: 30px;
  }

  .add-row {
    display: flex;
    flex-direction: column;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  form {
    margin-left: 20px;
    margin-right: 20px;
  }

  .text-input {
    width: min(100%, 800px);
  }

  .add-container {
    margin-top: 30px;
  }

  .add-row {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  .margin-column {
    margin-bottom: 15px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .add-row {
    display: flex;
    flex-direction: row;
  }

  .add-column {
    margin-left: 30px;
  }

  .margin-column {
    margin-bottom: 20px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .add-column {
    margin-left: 40px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .add-column {
    margin-left: 50px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .add-container {
    margin-top: 30px;
  }

  form {
    margin-left: 100px;
  }
}

.col {
  padding-left: 10px;
}

.row {
  min-height: 70px;
  margin-right: 0px;
  margin-left: 0px;
  margin-top: 10px;
  margin-bottom: 0px;
}

mat-button-toggle-group {
  margin-bottom: 10px;
}

mat-form-field {
  width: 300px;
}

.file-progress {
  margin-top: 10px;
  width: 300px;
}

.text-input {
  textarea {
    height: 200px;
  }
}

.btn-video {
  width: 70px;
  height: 36px;
}

.save-btn {
  float: right;
  margin-bottom: 10px;
}

.load-container {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
