@media only screen and (max-width: 350px) {
  form {
    margin-left: 10px;
    margin-right: 10px;
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 350px) {
  form {
    margin-left: 20px;
    margin-right: 20px;
  }

  .text-input {
    width: min(100%, 800px);
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  form {
    margin-left: 100px;
  }
}

.add-container {
  margin-top: 30px;
}

.row {
  min-height: 70px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

mat-form-field {
  width: 300px;
}

.file-progress {
  margin-top: 10px;
  width: 300px;
}

.text-input {
  textarea {
    height: 200px;
  }
}

.btn-video {
  width: 70px;
  height: 36px;
}

.save-btn {
  float: right;
  margin-bottom: 10px;
}
