<div class="add-container">
  <div class="row">
    <div class="column">
      <mat-form-field appearance="fill">
        <mat-label>Naziv</mat-label>
        <input matInput value="" />
      </mat-form-field>
    </div>
    <div class="column">
      <mat-button-toggle-group name="type" aria-label="type">
        <mat-button-toggle value="isolated">Izolirana</mat-button-toggle>
        <mat-button-toggle value="complex">Kompleksna</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <mat-form-field appearance="fill">
        <mat-label>Mišić</mat-label>
        <mat-select
          [(value)]="selectedMuscle"
          (selectionChange)="onSelectMuscle($event)"
        >
          <mat-option *ngFor="let muscle of muscles" [value]="muscle.value">
            {{ muscle.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="column">
      <mat-form-field appearance="fill">
        <mat-label>Podmišić</mat-label>
        <mat-select [disabled]="selectionDisabled">
          <mat-option *ngFor="let muscle of muscles" [value]="muscle.value">
            {{ muscle.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <div>
      <mat-button-toggle-group name="mode" aria-label="mode">
        <mat-button-toggle value="bodyweight">Tijelo</mat-button-toggle>
        <mat-button-toggle value="props">Rekvizit</mat-button-toggle>
        <mat-button-toggle value="trainer">Trenažer</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>
  <div class="row">
    <div>
      <button mat-raised-button color="primary" (click)="fileInput.click()">
        Video
      </button>
      <input
        hidden
        (change)="onFileSelected()"
        #fileInput
        type="file"
        id="file"
      />
    </div>
  </div>
  <div class="row">
    <div class="column">
      <mat-form-field class="text-input" appearance="fill">
        <mat-label>Komentar</mat-label>
        <textarea matInput placeholder="..."></textarea>
      </mat-form-field>
    </div>
  </div>
</div>
<div class="save-container">
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Spremi
  </button>
</div>
