:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.add-container {
  margin: 30px 100px;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
}

.form-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.form-container div {
  margin-bottom: 50px;
}

mat-form-field {
  width: 300px;
}

.text-input {
  width: 100%;

  textarea {
    height: 200px;
  }
}

.save-container {
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px;
  display: flex;
  justify-content: flex-end;
}
