<div class="add-container">
  <div *ngIf="loading" class="load-container">
    <mat-spinner [diameter]="30"></mat-spinner>
  </div>
  <form
    #f="ngForm"
    *ngIf="!loading"
    [formGroup]="exerciseForm"
    (ngSubmit)="onSubmit($event, _this, getUuid())"
  >
    <div>
      <div class="add-row">
        <div class="margin-column">
          <mat-form-field appearance="fill">
            <mat-label>Naziv</mat-label>
            <input
              type="email"
              matInput
              [formControl]="nameFormControl"
              [errorStateMatcher]="errorStateMatcher"
              (input)="onNameChanged($event)"
            />
            <mat-error *ngIf="nameFormControl.hasError('required')">
              Naziv je obvezan
            </mat-error>
          </mat-form-field>
        </div>
        <div class="add-column margin-column">
          <mat-button-toggle-group
            aria-label="type"
            name="type"
            [(ngModel)]="exercise.type"
            [ngModelOptions]="{ standalone: true }"
          >
            <mat-button-toggle value="isolated">Izolirana</mat-button-toggle>
            <mat-button-toggle value="complex">Kompleksna</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
      </div>
      <div class="add-row">
        <div class="margin-column">
          <mat-label>Mišić</mat-label>
          <dx-drop-down-box
            [(value)]="treeBoxValue"
            valueExpr="id"
            displayExpr="name"
            placeholder="..."
            [dataSource]="muscles"
            width="350px"
          >
            <div *dxTemplate="let data of 'content'">
              <dx-tree-view
                displayExpr="name"
                id="treeview"
                [items]="muscles"
                itemsExpr="children"
                selectionMode="multiple"
                [selectNodesRecursive]="false"
                [selectByClick]="false"
                showCheckBoxesMode="normal"
                (onItemRendered)="onItemRendered($event)"
                (onItemSelectionChanged)="onTreeViewSelectionChanged($event)"
              >
              </dx-tree-view>
            </div>
          </dx-drop-down-box>
        </div>
      </div>
      <div class="add-row">
        <div class="margin-column">
          <mat-button-toggle-group
            aria-label="mode"
            name="mode"
            [(ngModel)]="exercise.mode.name"
            [ngModelOptions]="{ standalone: true }"
            (change)="onButtonGroupChange($event)"
          >
            <mat-button-toggle value="bodyweight">Tijelo</mat-button-toggle>
            <mat-button-toggle value="props">Rekvizit</mat-button-toggle>
            <mat-button-toggle value="trainer">Trenažer</mat-button-toggle>
          </mat-button-toggle-group>
        </div>
        <ng-container *ngIf="exercise?.mode?.name === 'props'">
          <div class="add-column margin-column">
            <mat-form-field appearance="fill">
              <mat-label>Rekvizit</mat-label>
              <mat-select
                [formControl]="propsFormControl"
                (selectionChange)="onSelectProp($event)"
              >
                <mat-option *ngFor="let prop of props" [value]="prop.item">
                  {{ prop.item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="subprops && subprops.length > 0">
            <div class="add-column margin-column">
              <mat-form-field appearance="fill">
                <mat-label>Podrekvizit</mat-label>
                <mat-select
                  [formControl]="subpropsFormControl"
                  (selectionChange)="onSelectSubprop($event)"
                >
                  <mat-option
                    *ngFor="let subprop of subprops"
                    [value]="subprop.item"
                  >
                    {{ subprop.item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="exercise?.mode?.name === 'trainer'">
          <div class="add-column margin-column">
            <mat-form-field appearance="fill">
              <mat-label>Trenažer</mat-label>
              <mat-select
                [formControl]="trainersFormControl"
                (selectionChange)="onSelectTrainer($event)"
              >
                <mat-option
                  *ngFor="let trainer of trainers"
                  [value]="trainer.item"
                >
                  {{ trainer.item }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <ng-container *ngIf="subtrainers && subtrainers.length > 0">
            <div class="add-column margin-column">
              <mat-form-field appearance="fill">
                <mat-label>Podtrenažer</mat-label>
                <mat-select
                  [formControl]="subtrainersFormControl"
                  (selectionChange)="onSelectSubtrainer($event)"
                >
                  <mat-option
                    *ngFor="let subtrainer of subtrainers"
                    [value]="subtrainer.item"
                  >
                    {{ subtrainer.item }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </ng-container>
        </ng-container>
      </div>
      <div class="add-row">
        <div class="margin-column">
          <div style="display: flex; flex-direction: column">
            <button
              class="btn-video"
              mat-raised-button
              color="primary"
              type="button"
              (click)="fileInput.click()"
            >
              Video
            </button>
            <span *ngIf="file?.name">{{ file.name }}</span>
          </div>
          <input
            #fileInput
            id="file"
            hidden
            type="file"
            (change)="onFileSelected($event)"
          />
          <ng-container *ngIf="file?.name">
            <mat-progress-bar
              class="file-progress"
              mode="determinate"
              [value]="uploadPercent"
            >
            </mat-progress-bar>
          </ng-container>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="text-input" appearance="fill">
            <mat-label>Komentar</mat-label>
            <textarea
              matInput
              placeholder="..."
              [(ngModel)]="exercise.comment"
              [ngModelOptions]="{ standalone: true }"
            >
            </textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <button
            class="save-btn"
            [disabled]="loading"
            mat-raised-button
            color="primary"
            type="submit"
          >
            Spremi
          </button>
        </div>
      </div>
    </div>

    <ng-container *ngIf="saving">
      <div class="load-container">
        <mat-spinner [diameter]="30"></mat-spinner>
      </div>
    </ng-container>
  </form>
</div>
