<div
  [style.width.px]="tabWidth"
  [style.height.px]="tabHeight"
  [style.padding-left.px]="tabLeftPadding"
  [style.padding-right.px]="tabRightPadding"
  [style.margin-top.px]="marginTop"
  [style.margin-bottom.px]="marginBottom"
>
  <mat-tab-group>
    <mat-tab label="Korisnici">
      <div class="home-container">
        <div *ngIf="loading" class="load-container">
          <mat-spinner [diameter]="30"></mat-spinner>
        </div>
        <div *ngIf="!loading">
          <dx-data-grid
            id="exercises"
            [dataSource]="users"
            [showBorders]="true"
            [showColumnLines]="false"
            [showRowLines]="false"
            [wordWrapEnabled]="true"
            [height]="treeHeight"
            [noDataText]="''"
            [width]="'90%'"
            (onToolbarPreparing)="onToolbarPreparing($event)"
          >
            <dxo-grouping [autoExpandAll]="false"></dxo-grouping>
            <dxi-column
              dataField="name"
              caption="Naziv"
              dataType="string"
              headerCellTemplate="headerCellTemplate"
            >
            </dxi-column>
            <dxi-column
              caption="Mišić"
              dataField="muscles[0]"
              dataType="string"
              groupCellTemplate="groupCellTemplate"
              [groupIndex]="0"
            >
            </dxi-column>
            <dxi-column
              alignment="right"
              caption=""
              cellTemplate="editCellTemplate"
            >
            </dxi-column>

            <div *dxTemplate="let data of 'headerCellTemplate'" class="header">
              {{ data.column.caption }}
            </div>
            <div
              *dxTemplate="let data of 'groupCellTemplate'"
              class="group-header"
            >
              {{ data.displayValue }}
            </div>
            <div *dxTemplate="let data of 'editCellTemplate'">
              <dx-button
                icon="edit"
                class="btn-margin"
                (click)="onEdit(data.data)"
              >
              </dx-button>
              <dx-button
                icon="remove"
                (click)="onDelete(data.data)"
              ></dx-button>
            </div>
          </dx-data-grid>
        </div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
