/* You can add global styles to this file, and also import other style files */

html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.dx-button .dx-button-content {
  padding: 4px !important;

  .dx-icon {
    font-size: 12px;
  }
}

.dx-data-row {
  .dx-datagrid-group-closed {
    padding-top: 4px;
  }

  .dx-datagrid-group-opened {
    padding-top: 4px;
  }
}

.dx-treelist-text-content {
  padding-top: 4px;
}
