<div class="page-title">
  <h2>Postavke</h2>
</div>
<div class="config-container">
  <div class="form-container">
    <div class="tree-container">
      <div class="setting-title"><h4>Mišići</h4></div>
      <div *ngIf="!isMusclesLoaded" class="load-container">
        <div class="load-box">
          <dx-load-indicator height="40" width="40"></dx-load-indicator>
        </div>
      </div>
      <mat-tree
        *ngIf="isMusclesLoaded"
        [dataSource]="musclesDataSource"
        [treeControl]="musclesTreeControl"
      >
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasNoContent"
          matTreeNodePadding
        >
          <button mat-icon-button disabled></button>
          <div style="display: flex">
            <mat-form-field appearance="fill">
              <mat-label>Naziv...</mat-label>
              <input matInput #itemValue />
            </mat-form-field>
            <div
              class="new-item"
              (click)="saveNode(node, itemValue.value, 'MusclesDb')"
            >
              <mat-icon>done</mat-icon>
            </div>
            <div class="new-item" (click)="deleteNode(node, 'MusclesDb')">
              <mat-icon>delete</mat-icon>
            </div>
          </div>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.item"
          >
            <mat-icon *ngIf="node.expandable" class="mat-icon-rtl-mirror">
              {{
                musclesTreeControl.isExpanded(node)
                  ? "expand_more"
                  : "chevron_right"
              }}
            </mat-icon>
          </button>
          <span>{{ node.item }}</span>
          <button
            *ngIf="node.level < 2"
            class="add-button"
            mat-icon-button
            (click)="addNode(node, 'MusclesDb')"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
      <div class="new-group-container">
        <button
          class="new-group"
          mat-raised-button
          color="primary"
          (click)="onNewMuscleGroupClick()"
        >
          Nova grupa
        </button>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="tree-container">
      <div class="setting-title"><h4>Rekviziti</h4></div>
      <div *ngIf="!isMusclesLoaded" class="load-container">
        <div class="load-box">
          <dx-load-indicator height="40" width="40"></dx-load-indicator>
        </div>
      </div>
      <mat-tree
        *ngIf="isPropsLoaded"
        [dataSource]="propsDataSource"
        [treeControl]="propsTreeControl"
      >
        <mat-tree-node
          *matTreeNodeDef="let node; when: hasNoContent"
          matTreeNodePadding
        >
          <button mat-icon-button disabled></button>
          <div style="display: flex">
            <mat-form-field appearance="fill">
              <mat-label>Naziv...</mat-label>
              <input matInput #itemValue />
            </mat-form-field>
            <div
              class="new-item"
              (click)="saveNode(node, itemValue.value, 'PropsDb')"
            >
              <mat-icon>done</mat-icon>
            </div>
            <div class="new-item" (click)="deleteNode(node, 'PropsDb')">
              <mat-icon>delete</mat-icon>
            </div>
          </div>
        </mat-tree-node>

        <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
          <button
            mat-icon-button
            matTreeNodeToggle
            [attr.aria-label]="'Toggle ' + node.item"
          >
            <mat-icon *ngIf="node.expandable" class="mat-icon-rtl-mirror">
              {{
                propsTreeControl.isExpanded(node)
                  ? "expand_more"
                  : "chevron_right"
              }}
            </mat-icon>
          </button>
          <span>{{ node.item }}</span>
          <button
            *ngIf="node.level < 2"
            class="add-button"
            mat-icon-button
            (click)="addNode(node, 'PropsDb')"
          >
            <mat-icon>add</mat-icon>
          </button>
        </mat-tree-node>
      </mat-tree>
      <div class="new-group-container">
        <button
          class="new-group"
          mat-raised-button
          color="primary"
          (click)="onNewPropsGroupClick()"
        >
          Nova grupa
        </button>
      </div>
    </div>
  </div>
  <div class="form-container">
    <div class="tree-container">
      <div class="setting-title"><h4>Trenažeri</h4></div>
    </div>
  </div>
</div>
<div class="save-container">
  <button mat-raised-button color="primary" (click)="onSaveClick()">
    Spremi
  </button>
</div>

<dx-load-panel
  #loadPanel
  [message]="'Saving...'"
  shadingColor="rgba(0,0,0,0.4)"
  [(visible)]="loadingVisible"
  [showIndicator]="true"
  [showPane]="true"
  [shading]="true"
  [closeOnOutsideClick]="false"
>
</dx-load-panel>
